.back-route-card {
    background-color: #1c1c1c96;
    box-shadow: 4px 4px 6px #00000096;
    border-radius: 20px 20px;
    border-left: 15px solid #00000038;
    margin: 50px auto;
    padding: 30px;
}