<h3>Routes Cards</h3>
<div class="back-route-card">
    <div class="row">

        <div class="col-6 col-sm-3">

            <img class="route-card-image" src="../assets/img-route-cards/tarjeta-de-ruta-belisario-patios.jpg" alt="">
        </div>
        <div class="col-6 col-sm-3 features-route">
            <h2>Belisario - Patios</h2>
            <div class="col-6 d-flex">

                <i class="fa-solid fa-ruler-horizontal"></i>
                <p class="me-4">5,91Km</p>
                

                <i class="fa-solid fa-mountain"></i>
                <p>6,9%</p>
            </div>
            <div class="col-6 d-flex mar-left">

                <i class="fa-solid fa-circle-arrow-up"></i>
                <p class="me-4">410m</p>
                

                <i class="fa-regular fa-face-tired"></i>
                <p>Medio</p>
            </div>



        </div>
        <div class="col-5 col-sm-3 best-time">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <p >General</p>
                    </div>
                    <div class="row best-rider">
                        <img class="image-profile-routes" src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="">
                        <p>Javier Jamaica</p>
                        <p>14:44</p>
                    </div>
                    
                </div>
                <div class="col-6">
                    <div class="row">
                        <p >Categoría</p>
                    </div>
                    <div class="row best-rider">
                        <img class="image-profile-routes" src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="">
                        <p>Javier Jamaica</p>
                        <p>14:44</p>
                    </div>
                    
                </div>
            </div>
            
           
        </div>
        <div class="col-5 col-sm-3">
            <p>xjlkdvfhssjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjdjhjk</p>
        </div>
    </div>


</div>

<div class="back-route-card">
    <p>xjlkdvfhssjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjdjhjk</p>
</div>