<h3>Routes Cards</h3>
<div *ngFor="let route of routes" class="back-route-card">
    <div class="row">
        
        <div class="col-6 col-sm-3">

            <img class="route-card-image" src="../assets/img-route-cards/tarjeta-de-ruta-belisario-patios.jpg" alt="">
        </div>
        <div class="col-6 col-sm-3 features-route">
            <h2>{{route.routeName}}</h2>
            <div class="col-6 d-flex">

                <i class="fa-solid fa-ruler-horizontal"></i>
                <p class="me-4">5,91Km</p>
                

                <i class="fa-solid fa-mountain"></i>
                <p>6,9%</p>
            </div>
            <div class="col-6 d-flex mar-left">

                <i class="fa-solid fa-circle-arrow-up"></i>
                <p class="me-4">410m</p>
                

                <i class="fa-regular fa-face-tired"></i>
                <p>Medio</p>
            </div>



        </div>
        <div class="col-6 col-sm-3 best-time pt-3 pt-sm-0">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <p >General</p>
                    </div>
                    <div class="row best-rider">
                        <img class="image-profile-routes" src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="">
                        <p>Javier Jamaica</p>
                        <p>14:44</p>
                    </div>
                    
                </div>
                <div class="col-6">
                    <div class="row">
                        <p >Categoría</p>
                    </div>
                    <div class="row best-rider">
                        <img class="image-profile-routes" src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="">
                        <p>Javier Jamaica</p>
                        <p>14:44</p>
                    </div>
                    
                </div>
            </div>
            
        
        </div>
        
        <div class="col-6 col-sm-3 pt-3 pt-sm-0 best-time">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <p >Tú</p>
                    </div>
                    <div class="row best-rider">
                        <img class="image-profile-routes" [src]="profile?.photoProfile || defaultAvatar" alt="">
                        <p>18'39"</p>
                        <p>Posición 1</p>
                    </div>
                    
                </div>
                <div class="col-6">
                    <div class="row ">
                        <p style="font-size: 8px; margin-top: 10px;">Leadership grid</p>
                    </div>
                    <div class="row best-rider">
                        <a href=""><i class="fa-solid fa-circle-arrow-right"></i></a>
                        
                        <!-- <p>14:44</p> -->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


</div>

<!-- Segunda Ruta -->

<div *ngFor="let route of routes" class="back-route-card">
    <div class="row">
        
        <div class="col-6 col-sm-3">

            <img class="route-card-image" src="https://gestiona360.com.co/wp-content/uploads/2022/12/Tarjeta-de-ruta-LaVega-Elvino.jpg" alt="">
        </div>
        <div class="col-6 col-sm-3 features-route">
            <h2>La Vega - El Vino</h2>
            <div class="col-6 d-flex">

                <i class="fa-solid fa-ruler-horizontal"></i>
                <p class="me-4">28,56Km</p>
                

                <i class="fa-solid fa-mountain"></i>
                <p>5,7%</p>
            </div>
            <div class="col-6 d-flex mar-left">

                <i class="fa-solid fa-circle-arrow-up"></i>
                <p class="me-4">2836m</p>
                

                <i class="fa-regular fa-face-tired"></i>
                <p>Alto</p>
            </div>



        </div>
        <div class="col-6 col-sm-3 best-time pt-3 pt-sm-0">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <p >General</p>
                    </div>
                    <div class="row best-rider">
                        <img class="image-profile-routes" src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="">
                        <p>Javier Jamaica</p>
                        <p>14:44</p>
                    </div>
                    
                </div>
                <div class="col-6">
                    <div class="row">
                        <p >Categoría</p>
                    </div>
                    <div class="row best-rider">
                        <img class="image-profile-routes" src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="">
                        <p>Javier Jamaica</p>
                        <p>14:44</p>
                    </div>
                    
                </div>
            </div>
            
        
        </div>
        
        <div class="col-6 col-sm-3 pt-3 pt-sm-0 best-time">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <p >Tú</p>
                    </div>
                    <div class="row best-rider">
                        <img class="image-profile-routes" [src]="profile?.photoProfile || defaultAvatar" alt="">
                        <p>1 14'44"</p>
                        <p>Posición 1</p>
                    </div>
                    
                </div>
                <div class="col-6">
                    <div class="row ">
                        <p style="font-size: 8px; margin-top: 10px;">Leadership grid</p>
                    </div>
                    <div class="row best-rider">
                        <a href=""><i class="fa-solid fa-circle-arrow-right"></i></a>
                        
                        <!-- <p>14:44</p> -->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


</div>


<!-- Tercera Tarjeta -->

<div *ngFor="let route of routes" class="back-route-card">
    <div class="row">
        
        <div class="col-6 col-sm-3">

            <img class="route-card-image" src="https://gestiona360.com.co/wp-content/uploads/2022/12/Crono-Regreso.jpg" alt="">
        </div>
        <div class="col-6 col-sm-3 features-route">
            <h2>Briceño - Alma Viva</h2>
            <div class="col-6 d-flex">

                <i class="fa-solid fa-ruler-horizontal"></i>
                <p class="me-4">9,8Km</p>
                

                <i class="fa-solid fa-mountain"></i>
                <p>-0,1%</p>
            </div>
            <div class="col-6 d-flex mar-left">

                <i class="fa-solid fa-circle-arrow-up"></i>
                <p class="me-4">15m</p>
                

                <i class="fa-regular fa-face-tired"></i>
                <p>Fácil</p>
            </div>



        </div>
        <div class="col-6 col-sm-3 pt-3 pt-sm-0 best-time">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <p >General</p>
                    </div>
                    <div class="row best-rider">
                        <img class="image-profile-routes" src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="">
                        <p>Javier Jamaica</p>
                        <p>14:44</p>
                    </div>
                    
                </div>
                <div class="col-6">
                    <div class="row">
                        <p >Categoría</p>
                    </div>
                    <div class="row best-rider">
                        <img class="image-profile-routes" src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="">
                        <p>Javier Jamaica</p>
                        <p>14:44</p>
                    </div>
                    
                </div>
            </div>
            
        
        </div>
        
        <div class="col-6 col-sm-3 pt-3 pt-sm-0 best-time">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <p >Tú</p>
                    </div>
                    <div class="row best-rider">
                        <img class="image-profile-routes" [src]="profile?.photoProfile || defaultAvatar" alt="">
                        <p>12'02"</p>
                        <p>Posición 1</p>
                    </div>
                    
                </div>
                <div class="col-6">
                    <div class="row ">
                        <p style="font-size: 8px; margin-top: 10px;">Leadership grid</p>
                    </div>
                    <div class="row best-rider">
                        <a href=""><i class="fa-solid fa-circle-arrow-right"></i></a>
                        
                        <!-- <p>14:44</p> -->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


</div>

<!-- Cuarta -->

<div *ngFor="let route of routes" class="back-route-card">
    <div class="row">
        
        <div class="col-6 col-sm-3">

            <img class="route-card-image" src="https://gestiona360.com.co/wp-content/uploads/2022/12/Tarjeta-de-ruta-Yerbabuena.jpg" alt="">
        </div>
        <div class="col-6 col-sm-3 features-route">
            <h2>Yerbabuena</h2>
            <div class="col-6 d-flex">

                <i class="fa-solid fa-ruler-horizontal"></i>
                <p class="me-4">3,69Km</p>
                

                <i class="fa-solid fa-mountain"></i>
                <p>9,1%</p>
            </div>
            <div class="col-6 d-flex mar-left">

                <i class="fa-solid fa-circle-arrow-up"></i>
                <p class="me-4">334m</p>
                

                <i class="fa-regular fa-face-tired"></i>
                <p>Exigente</p>
            </div>



        </div>
        <div class="col-6 col-sm-3 pt-3 pt-sm-0 best-time">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <p >General</p>
                    </div>
                    <div class="row best-rider">
                        <img class="image-profile-routes" src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="">
                        <p>Javier Jamaica</p>
                        <p>14:44</p>
                    </div>
                    
                </div>
                <div class="col-6">
                    <div class="row">
                        <p >Categoría</p>
                    </div>
                    <div class="row best-rider">
                        <img class="image-profile-routes" src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="">
                        <p>Javier Jamaica</p>
                        <p>14:44</p>
                    </div>
                    
                </div>
            </div>
            
        
        </div>
        
        <div class="col-6 col-sm-3 pt-3 pt-sm-0 best-time">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <p >Tú</p>
                    </div>
                    <div class="row best-rider">
                        <img class="image-profile-routes" [src]="profile?.photoProfile || defaultAvatar" alt="">
                        <p>17'04"</p>
                        <p>Posición 1</p>
                    </div>
                    
                </div>
                <div class="col-6">
                    <div class="row ">
                        <p style="font-size: 8px; margin-top: 10px;">Leadership grid</p>
                    </div>
                    <div class="row best-rider">
                        <a href=""><i class="fa-solid fa-circle-arrow-right"></i></a>
                        
                        <!-- <p>14:44</p> -->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


</div>

<!-- Quinta -->

<div *ngFor="let route of routes" class="back-route-card">
    <div class="row">
        
        <div class="col-6 col-sm-3">

            <img class="route-card-image" src="https://gestiona360.com.co/wp-content/uploads/2022/12/Tarjeta-de-ruta-Mesitas-El-Salto.jpg" alt="">
        </div>
        <div class="col-6 col-sm-3 features-route">
            <h2>Mesitas - El Salto</h2>
            <div class="col-6 d-flex">

                <i class="fa-solid fa-ruler-horizontal"></i>
                <p class="me-4">26,31Km</p>
                

                <i class="fa-solid fa-mountain"></i>
                <p>4,9%</p>
            </div>
            <div class="col-6 d-flex mar-left">

                <i class="fa-solid fa-circle-arrow-up"></i>
                <p class="me-4">2295m</p>
                

                <i class="fa-regular fa-face-tired"></i>
                <p>Alto</p>
            </div>



        </div>
        <div class="col-6 col-sm-3 pt-3 pt-sm-0 best-time">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <p >General</p>
                    </div>
                    <div class="row best-rider">
                        <img class="image-profile-routes" src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="">
                        <p>Javier Jamaica</p>
                        <p>14:44</p>
                    </div>
                    
                </div>
                <div class="col-6">
                    <div class="row">
                        <p >Categoría</p>
                    </div>
                    <div class="row best-rider">
                        <img class="image-profile-routes" src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="">
                        <p>Javier Jamaica</p>
                        <p>14:44</p>
                    </div>
                    
                </div>
            </div>
            
        
        </div>
        
        <div class="col-6 col-sm-3 pt-3 pt-sm-0 best-time">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <p >Tú</p>
                    </div>
                    <div class="row best-rider">
                        <img class="image-profile-routes" [src]="profile?.photoProfile || defaultAvatar" alt="">
                        <p>1 19'53"</p>
                        <p>Posición 1</p>
                    </div>
                    
                </div>
                <div class="col-6">
                    <div class="row ">
                        <p style="font-size: 8px; margin-top: 10px;">Leadership grid</p>
                    </div>
                    <div class="row best-rider">
                        <a href=""><i class="fa-solid fa-circle-arrow-right"></i></a>
                        
                        <!-- <p>14:44</p> -->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


</div>

