.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    justify-content: center;
}

.navbar .container {
    display: block;
}

.background-nav{
    background-color: #181818;
}

.height-top-bar {
    height: 50px;
    border-bottom: 1px solid;
}

/*Tamaño del logo en el Nav*/
.logo-nav {
    width: 250px;
    height: 150px;
    position: absolute;
    margin-top: -28px;
}

.icono-perfil {
    width: 40px;
    height: 40px;
    border-radius: 64px;
    margin-top: -7px;
}

.height-nav-bar {
    height: 60px;
}

.color-fondo {
    background-color: transparent;
    border: none;
}
.color-fondo:focus {
    background-color: transparent;
    border: none;
}
.btn-check:focus + .btn-secondary, .btn-secondary:focus {
    box-shadow: none;
}

/*username settings*/
.user-name {
    color: white;
    background: rgb(39,189,211);
    background: linear-gradient(315deg, rgba(39,189,211,1) 13%, rgba(186,0,230,1) 87%); 
    padding: 15px 15px 14px 15px;
    font-style: italic;
    font-weight: 500;
    font-family: 'Oxanium', cursive;
}

.dropdown-menu {
    padding-top: 0px;
}

.dropdown-menu[data-bs-popper] {
    left: -120px;
    box-shadow: 3px 3px 6px 2px #16171c36;;
}