<div class="container">
    <form class="row g-3 box-radius">

        <div class="col-12 col-md-4">
            <div class="title-newsletter">
                <p class="select-font-oxanium"><span style="color: white;">Nuestro</span> Newsletter</p>
            </div>

        </div>
        <div class="col-8 col-md-5">
            <label for="staticEmail2" class="visually-hidden">Email</label>
            <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
        </div>
        <div class="col-4 col-md-3 ">

            <button type="submit" class="btn background-suscribe mb-3 select-font-oxanium">¡Suscríbete!</button>
        </div>
    </form>
</div>
<div class="footer">

    <div class="container">

        <div class="row ">
            <div class="col-4 d-flex flex-column align-items-center">
                <img class="logo-footer " src="../assets/img-footer/Logo-footer.png" alt="">
                <p class="text-footer">¡Convertimos tu pasión en un juego! Con nuestra App puedes conocer nuevas rutas, medir tu nivel con usuarios locales, ganar ED's (descuentos por hacer tus entrenamientos) y ser parte de una gran comunidad ciclista.</p>
            </div>

            <div class="col-4 d-flex-inline">
                <h2 class="headlines-footer select-font-oxanium">Nuestras redes sociales</h2>
                <div class="social-icons d-flex justify-content-center">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                </div>
                
            </div>

            <div class="col-4 d-flex flex-column ">
                <h2 class="headlines-footer select-font-oxanium">Contáctanos</h2>
                <div class="contact-icons d-flex flex-column justify-content-center ">
                <a href=""><i class="fa-brands fa-whatsapp"></i> 3048359755</a>
                <a href=""><i class="fa-regular fa-envelope"></i>información@xrg.com</a>
                <a href=""><i class="fa-solid fa-desktop"></i>www.xrg.com</a>
            </div>
            </div>

        </div>
    </div>
</div>