<h5 class="font font-size-signup">Registrarse</h5>

<div class="row">
    <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <mat-form-field class="example-full-width">
                <mat-label>Nombre completo</mat-label>
                <input matInput placeholder="Nombre y Apellido" value="" formControlName="fullName">
                <mat-error> Se quiere el nombre completo</mat-error>
              </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="example-full-width">
                <mat-label>E mail</mat-label>
                <input matInput placeholder="demo@correo.com" value="" formControlName="email">
              </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="" value="" formControlName="password">
              </mat-form-field>
        </div>
        <div class="d-flex justify-content-center mt-3">
        <button class="d-flex justify-content-center font" mat-raised-button color="primary">Registrarse</button>
      </div>
      
        
      </form>
      
</div>
<div class="row my-2 d-flex justify-content-center">o</div>
<div class="row ">
    <app-google-button [googleBtnText]="googleBtnText" class="btn-sm mt-1 justify-content-center ">

    </app-google-button>
</div>
