<div class="row back-side pb-4">
    <h2>Amigos en común</h2>
    <div class="row pt-1">
        <div class="col-3">
            <img class="image-profile-followers" src="https://e1.pxfuel.com/desktop-wallpaper/1013/308/desktop-wallpaper-strava-pro-cyclist-profile-egan-bernal-thumbnail.jpg" alt="">
        </div>
    
        <div class="col-9">
            <div class="row">
                <p class="profile-text">
                    Robin Torres
                </p>
                <p class="category-text">Amateur</p>
                <button type="button" class="btn btn-primary">Seguir</button>
            </div>

            
            
        </div>
    </div>

    <div class="row pt-1">
        <div class="col-3">
            <img class="image-profile-followers" src="https://e1.pxfuel.com/desktop-wallpaper/1013/308/desktop-wallpaper-strava-pro-cyclist-profile-egan-bernal-thumbnail.jpg" alt="">
        </div>
    
        <div class="col-9">
            <div class="row">
                <p class="profile-text">
                    Ricardo Chamarravi
                </p>
                <p class="category-text">Amateur</p>
                <button type="button" class="btn btn-primary">Seguir</button>
            </div>

            
            
        </div>
    </div>
    
</div>
