.back-side {
    background-color: #1c1c1c96;
    box-shadow: 4px 4px 6px #00000096;
    border-radius: 20px 20px;
 
    margin: 0 auto;
}
h2 {
    font-family: 'Oxanium', cursive;
    color: white;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

.image-profile-followers {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-left: 3px;
}

.profile-text {
    text-align: left;
    color: white;
    margin-bottom: 0px;
}

.category-text {
    color: #818181;
    font-size: 12px;
}

