.box {
    background-color: #1c1c1c96;
    box-shadow: 4px 4px 6px #00000096;
    border-radius: 5px;
    padding: 0px 0px;
    margin: 27px auto;
    border-top: 40px solid rgb(53, 53, 53);
    height: 110px;
}

.head-publication {
    margin-top: -32px;
   
}

.title {
    margin-bottom: 0px;
    font-size: 12px;
    color: white;
    margin-top: -4px;
}
.date {
    margin-top: -5px;
    font-size: 9px;
    color: white;
}

.box img {
    margin-right: 10px;
    width: 25px;
    margin-left: 12px;
    border-radius: 64px;
}