<div class="box">
    <div class="row head-publication">
       
        <div class="col-1 ">
            <img class="image-profile-followers " [src]="profile?.photoProfile || defaultAvatar" alt="">
        </div>
        <div class="col-11">
            <p class="title">{{user.fullName}}</p>          
            <p class="date e">15/12/2022</p>
        </div> 
    </div>
    <div class="row route-image">
        <img src="../../../assets/img-publications/route-1.JPG" alt="">
    </div>

    <div class="row route-data">
        <p class="title-route">Vuelta ciclista por la mañana</p>
        <div class="col-4">
           <p class="title-result-route">Distancia</p> 
           <p class="result-route">104,95 km</p>
        </div>
        <div class="col-4 vertical">
            <p class="title-result-route">Desnivel positivo</p> 
            <p class="result-route">1145 m</p>
        </div>
        <div class="col-4 vertical">
            <p class="title-result-route">Duración</p> 
            <p class="result-route">3h 31m</p>
        </div>
    </div>
   
    
</div>


<div class="box">
    <div class="row head-publication">
       
        <div class="col-1 ">
            <img class="image-profile-followers " [src]="profile?.photoProfile || defaultAvatar" alt="">
        </div>
        <div class="col-11">
            <p class="title">{{user.fullName}}</p>          
            <p class="date e">11/12/2022</p>
        </div> 
    </div>
    <div class="row route-image">
        <img src="../../../assets/img-publications/route-1.JPG" alt="">
    </div>

    <div class="row route-data">
        <p class="title-route">Vuelta ciclista por la mañana</p>
        <div class="col-4">
           <p class="title-result-route">Distancia</p> 
           <p class="result-route">104,95 km</p>
        </div>
        <div class="col-4 vertical">
            <p class="title-result-route">Desnivel positivo</p> 
            <p class="result-route">1145 m</p>
        </div>
        <div class="col-4 vertical">
            <p class="title-result-route">Duración</p> 
            <p class="result-route">3h 31m</p>
        </div>
    </div>
   
    
</div>


