.box {
    background-color: #1c1c1c96;
    box-shadow: 4px 4px 6px #00000096;
    border-radius: 5px;
    padding: 0px 0px;
    margin: 27px auto;
    border-top: 40px solid rgb(15, 15, 15);
}

.head-publication {
    margin-top: -32px;

}

.title {
    margin-bottom: 0px;
    font-size: 12px;
    color: white;
    margin-top: -4px;
    font-family: calibri;
    font-weight: 600;
}

.date {
    margin-top: -5px;
    font-size: 9px;
    color: white;
    font-family: calibri;
}

.head-publication img {
    margin-right: 10px;
    width: 25px;
    margin-left: 12px;
    border-radius: 64px;
}

.route-image {
    margin-top: -8px;
}

.route-data {
    background-color: #d5d5d5;
    background-image: url("/assets/img-profile/fondo-profile.jpg");
    background-size: cover;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0 0 5px 5px;
    border-top: 2px solid #353535;
    background-position: bottom;
}

.title-route {
    margin-top: 10px;
    color: #ffffff;
    font-size: 14px;
}

.title-result-route {
    font-size: 9px;
    text-align: center;
    margin-bottom: 0px;
    color: white;
}

.result-route {
    text-align: center;
    color: white;
}

.vertical {
    border-left: 1px solid #b9b9b9;
    height: 42px;
}