<div class="profile-container">

    <div class="container">
        <div class="row ">

            <div class="col-11 col-md-5 col-lg-4 ps-3 pe-3 pb-1 back-side  ">
                
                <!-- Profile card -->     
            <app-profile-card></app-profile-card>
                <!-- Profile section -->
            <div class="row">
              
                <app-performance></app-performance>
               

            </div>

        </div>

        <div class="col-12 col-md-7 col-lg-8 ">
          <div class="row">
            <app-training-discount></app-training-discount>
          </div>

          <div class="row">
            <app-routes-cards></app-routes-cards>
          </div>
                           
        </div>
       
              
        </div>



    </div>

</div>
