.profile-container p {
    font-family: 'Oxanium', cursive;
}

/*Modulo general*/
.profile-container {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url("/assets/img-profile/fondo-profile.jpg");
    background-size: cover;
    background-color: #1c1c1c;

}

/*Fondo modulo de la izquierda*/
.back-side {
    background-color: #1c1c1c96;
    box-shadow: 4px 4px 6px #00000096;
    border-radius: 20px 20px;
    border-top: 30px solid #00000038;
    margin: 0 auto;
}




