<div class="row ">
    <div class="col-3 ">
        <img class="profile-photo-size" [src]="" alt="">
    </div>

    <div class="col-9 ps-4">
        <p class="user-profile">{{user.fullName}}</p>
        <p style="color:#818181;">Master</p>
        <div class="row mini-card-profile ms-1 pe-1">
            <div class="col-4">
                <div class="title-mini-card-profile">
                    <p>Experiencia</p> 
                </div>
                <div class="num-mini-card-profile">
                    <p>111</p>
                </div>

            </div>
            <div class="col-4">
                <div class="title-mini-card-profile">
                   <p>Posición</p> 
                </div>
                <div class="num-mini-card-profile">
                    <p>111</p>
                </div>
            </div>
            <div class="col-4">
                <div class="title-mini-card-profile">
                   <p>Seguidores</p> 
                </div>
                <div class="num-mini-card-profile">
                    <p>111</p>
               </div>  
            </div>
            
        </div>

    </div>
</div>



<div class="row mt-5 d-flex justify-content-around">
    <div class="col-5">
        <div class="title-card-progress">
            <p>Disciplina</p> 
         </div>
         <div class="progress">
            <div class="progress-bar progress-bar-striped pink-color" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
    </div>
    <div class="col-5">
        <div class="title-card-progress">
            <p>Routes cards</p> 
         </div>
        <!-- <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-striped blue-color" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
    </div>

    <div class="col-5 mt-4">
        <div class="title-card-progress">
            <p>Challenges</p> 
         </div>
         <div class="progress">
            <div class="progress-bar progress-bar-striped green-color" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
    </div>
    <div class="col-5 mt-4">
        <div class="title-card-progress">
            <p>Nivel (Master)</p> 
         </div>
        <!-- <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
    </div>
 
</div>
