@import "~swiper/css";
@import "~swiper/css/pagination";

.swiper {
    width: 100%;
    height: 100%;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*Tarjeta*/
.swiper-slide {
    width: 101px !important;
}

.story {
    display: inline-block;
    position: relative;

    min-width: 105px;
    height: 149px;
    border-radius: 11px;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);

    /* background-image: url("https://hubsports.mx/wp-content/uploads/2018/11/lo-que-debes-saber-antes-de-practicar-ciclismo-de-ruta.jpg"); */
    background-size: cover;
    background-color: #eee;
    background-position: center;
}

.dateStory {
    margin-top: -11px !important;
    margin-left: 11px !important;
}

.button-story {
    width: 100px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.54);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9;
    /* ie fallback png background image */
    z-index: 2;
    color: white;

}

.slider-story {
    display: flex;
    flex-wrap: wrap;
}

.overlay img {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    margin-top: 8px;
    border-radius: 30px;
    margin-right: 3px;
}

.overlay p {
    font-size: 8px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.hero-profile-img {
    height: 70%;
}



.hero-logo {
    height: 33px;
    width: 33px;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    top: 16px;
    left: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
}

.hero-logo img {
    height: 100%;
}

.hero-description {
    position: absolute;
    color: #fff;
    font-weight: 700;
    left: 0px;
    right: 0px;
    bottom: 15%;
    font-size: 12px;
    font-family: 'Oxanium', cursive;
}







body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #eee;
    min-height: 100vh;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: -1px;

}

.hero {
    display: inline-block;
    position: relative;
    /* width: 400px; */
    min-width: 294px;
    height: 395px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    margin: 5px;
    background-position: top;
}

.overlay-story {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.54);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9;
    /* ie fallback png background image */
    background: rgb(39, 189, 211);
    background: linear-gradient(540deg, rgba(39, 189, 211, 0) 13%, rgba(0, 0, 0, 0.45) 97%);
    z-index: 2;
    color: white;
}

.mat-dialog-container {
    background-color: transparent;
    box-shadow: none;
}


.profile-name {
    position: absolute;
    top: 16px;
    left: 58px;
    font-family: 'Oxanium', cursive;
    font-size: 12px;
}

.data-story {
    position: absolute;
    top: 29px;
    left: 58px;
    font-family: 'Oxanium', cursive;
    font-size: 9px;
}

.story-description {
    position: absolute;
    bottom: 20px;
    left: 15px;
    font-family: 'Oxanium', cursive;
    font-size: 11px;
}

@media (max-width: 450px) {
    .hero {
        min-width: 260px;
    }

    .overlay {
        display: flex;
        flex-wrap: wrap;
    }
}